/* 
1-Pocionamiento
2-Modelo de Caja (BOX MODEL)
3-Tipografia
4-Temas Visuales
5-Otros
*/
:root {
  /* colors */

  --blue: #182463;
  --greeen: #00f890;
  --blanco: #ffffff;
  --alt-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: var(--blue);
}
.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navegacion a {
  margin: 95px;
  display: inline;
  text-align: center;
  margin-right: 2rem;
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
a :hover {
  color: #00f890;
}
.barra img {
  width: 70px;
  display: block;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .navegacion a {
    margin: 10px;
    display: inline;
    margin-right: 2rem;
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.8rem;
  }
  .navegacion a:last-of-type {
    margin: 0;
  }
  .profile {
    width: 380px;

    display: block;
    margin: 0;
  }
}
.profile {
  width: 280px;
  display: block;
  margin: 0px;
}
.texto-header .profile {
  float: left;
}
